body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

:root{
    --background-color: hsl(0, 0%, 98%);
    --element-background-color: hsl(0, 0%, 100%);
    --hover-color: hsl(0, 4%, 91%);
    --input-color: hsl(0, 0%, 52%);
    --text-color: hsl(200, 15%, 8%);
  }
  
  .dark-theme{
    --background-color: hsl(207, 26%, 17%);
    --element-background-color: hsl(204, 23%, 23%);
    --hover-color: hsl(209, 19%, 32%);
    --input-color: hsl(0, 0%, 100%);
    --text-color: hsl(0, 0%, 100%);
  }

nav {
    display: flex;
    padding: 0 5%;
    justify-content: space-between;
    background-color: var(--background-color);
    color: var(--text-color);
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.2);
}

#dark-mode,
#light-mode {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-weight: bold;
}

#light-mode {
  display: none;
}

.dark-mode,
.light-mode {
  margin: auto 0;
}

.back-button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 18px;
    margin: 50px 5%;
    cursor: pointer;
    background-color: var(--element-background-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.2);
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
}

.country-details-wrapper {
    display: flex;
    width: 100%;
}

.country-details-wrapper img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 40px;
}

.details {
    display: flex;
    justify-content: space-between;
}

.country-details {
    flex-grow: 1;
    padding: 40px;
}

.country-details h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: var(--text-color);
}

.country-details p {
    margin: 10px 0;
    color: var(--text-color);
}

.title {
    font-weight: bold;
    color: var(--text-color);
}

.border-country-wrapper{
    padding-top: 40px;
}

.border-country-button{
    margin: 10px;
    padding: 4px 15px;
    cursor: pointer;
    background-color: var(--element-background-color);
    color: var(--text-color);
    border: none;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
}

@media (min-width: 640px) and (max-width: 1024px) {
    .country-details-wrapper {
        flex-direction: column;
    }

    .country-details-wrapper img {
        width: 100%;
        height: 400px;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .country-details{
        padding: 20px 0;
    }
}

@media (max-width: 640px) {
    .country-details-wrapper {
        flex-direction: column;
    }

    .country-details-wrapper img {
        width: 100%;
        height: 250px;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .country-details{
        padding: 20px 0;
    }

    .details{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}